<!DOCTYPE html>
<html lang="en">
{include file="x-header.tpl"}
<body class="navbar-top">

	<!-- Main navbar -->
{include file="x-navigation_top.tpl"}
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
{include file="x-navigation_left.tpl"}
			<!-- /main sidebar -->



			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header">
					<div class="page-header-content">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{$headTitle}</span> · Photo</h4>
						</div>
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">
					<!-- Detailed task -->
					<div class="row">
						<div class="col-lg-12">

							<!-- Storage details -->
							<div class="panel panel-flat">
								<div class="panel-heading mt-5">
									<h5 class="panel-title">Photo - {$pInfo.title}</h5>
									<div class="heading-elements">
										<ul class="icons-list">
            		                		<li><a data-action="collapse"></a></li>
            		                	</ul>
            	                	</div>
								</div>

								<div class="panel-body remove-hdr">
									<div class="tabbable">
										<ul class="nav nav-tabs nav-tabs-component">
											<li><a href="pages_photo.php?pID={$pInfo.id}#basic-rounded-tab4"><i class="icon-file-picture"></i> Main Photo</a></li>
											<li class="active"><a href=""><i class="icon-stack-picture"></i> Photos</a></li>
										</ul>

										<!-- Overview -->
										<div class="tab-content">


											<!-- CROP -->
											<div class="tab-pane active" id="basic-rounded-tab4">

												<div id="vpn_back">
													<a href="pages_photo.php?pID={$pInfo.id}#basic-rounded-tab5" class="btn btn-default btn-sm"><b><i class="icon-arrow-left13"></i></b> Back to List</a>
												</div>

                						         <!-- start form -->
                								<form action="photo_list.php?part=pages&set={$set}&pID={$panInfo.pID}&crID={$panInfo.crID}" class="form-validate-jquery" method="post" autocomplete="false">
                			                        <input type="hidden" name="action" value="{$set}" />
                                                    <input type="hidden" name="pID" value="{$panInfo.pID}" />
                                                    <input type="hidden" name="cID" value="{$panInfo.crID}" />
                                                    <input type="hidden" name="part" value="pages" />

													<div class="panel-body">
														<div class="row">
															<!--First Column-->
															<div class="col-md-6">

                                                                <fieldset>
                                                                <legend class="text-semibold">info</legend>
                                                        {section name=lkey loop=$langInfo start=0 step=2}
                                                                <div class="form-group">
                                                                    <label class="text-semibold">Text {$langInfo[lkey].lang}</label>
                                                                    <textarea rows="5" cols="5" id="text_{$langInfo[lkey].langID}" name="text_{$langInfo[lkey].langID}" class="form-control">{$langInfo[lkey].text}</textarea>
                                                                </div>
                                                        {/section}
                                                                </fieldset>

															</div>
															<!--Sec Column-->
															<div class="col-md-6">
																<fieldset>
																<legend class="text-semibold">details</legend>
                                                        {section name=lkey loop=$langInfo start=1 step=2}
                                                                <div class="form-group">
                                                                    <label class="text-semibold">Text {$langInfo[lkey].lang}</label>
                                                                    <textarea rows="5" cols="5" id="text_{$langInfo[lkey].langID}" name="text_{$langInfo[lkey].langID}" class="form-control">{$langInfo[lkey].text}</textarea>
                                                                </div>
                                                        {/section}
																</fieldset>
															</div>
														</div>
														<!--goes after closed .row div tag-->

														<!--Submit button-->
														<div class="text-right">
													        <a href="pages_photo.php?pID={$pInfo.id}#basic-rounded-tab5" class="btn btn-default">Cancel</a>
															<button type="submit" class="btn btn-primary">Submit form <i class="icon-arrow-right14 position-right"></i></button>
														</div>
														<!--end submit button-->

													</div>

                						        </form>
                						        <!--end form-->

                                            </div>
  										    <!-- /CROP -->
                                        </div>
									</div>
								</div>

							</div>
							<!-- /storage details -->

						</div>

					</div>
					<!-- /detailed task -->


					<!-- Footer -->
{include file="x-footer.tpl"}
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
{section name=lkey loop=$langInfo}
{literal}
<script>
    CKEDITOR.replace( 'text_{/literal}{$langInfo[lkey].langID}{literal}',
    {
        height : '150px'
    });
</script>
{/literal}
{/section}
</body>
</html>
