cont/*! normalize.css v1.1.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  outline: none;
}
body {
  margin: 0;
}
a:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  min-height: 240px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #000;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* overides metro scrolbars in IE10 and makes them look like a default scrollbar */
@-ms-viewport {
  width: auto !important;
}
/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
  background: #fff;
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  font-style: normal;
}

/* Links */
a,
a:visited {
  color: #000;
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
  outline: 0;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
a:active {
  background-color: transparent;
}
p a,
p a:visited {
  line-height: inherit;
}
p {
  margin: 0 0 20px 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
h1 {
  font-size: 1.875rem;
  line-height: 36px;
}
/* Layout */
#wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  width: auto;
}

/* Content */
header {
  padding: 1.875rem 1.875rem 0 1.875rem;
}

header.headerWithSlider {
  width: 100%;
  position: absolute;
  z-index: 9;
  padding: 1.125rem 1.875rem 0 1.875rem;
}

.tagline {
  padding: 1.875rem 0 1.875rem 1.875rem;
}
.tagline h1 {
  font-weight: 400 !important;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0 0.9375rem 0 0;
  margin: 0;
}
#logoWrap {
  float: left;
}
#logo {
  width: 134px;
  height: auto;
}
#bars-menu {
  padding-top: 0.625rem;
  float: right;
}
#bars-menu i {
  font-size: 1.375rem;
}

.homeMenuWrap {
  position: relative;
  width: 100%;
  margin: 0 0 10px 0;
}
.homeMenuTextWrap {
  position: relative;
}
.textPosition {
  max-width: 62.5rem;
  position: absolute;
  left: 1.875rem;
  top: 1.5rem;
}
.textPosition h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.textPosition p {
  font-size: 1rem;
  line-height: normal;
}
@media only screen and (min-width: 64.063em) {
  #logo {
    width: 134px;
    height: auto;
  }
  header {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
  header.headerWithSlider {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
  .tagline {
    padding: 4.6875rem 0 2.5rem 2.5rem;
  }
  .tagline h1 {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 820px;
    line-height: 2.25rem;
  }
  .textPosition {
    max-width: 62.5rem;
    position: absolute;
    left: 2.5rem;
    top: 2.8125rem;
  }
  .textPosition h2 {
    font-size: 1.875rem;
    font-weight: 400;
  }
  .textPosition p {
    font-size: 1.25rem;
    padding-top: 0.625rem;
  }
}
.homeMenuWrap h2,
.homeMenuWrap h3 {
  margin: 0;
}
.homeMenuImg {
  display: block;
  width: 100%;
  height: auto;
}
.colorWhite {
  color: #fff !important;
}

/*p2*/
.content {
  max-width: 865px;
  margin: 0 auto 4.375rem;
  padding-left: 30px;
  padding-right: 30px;
}
.content h1 {
  margin: 0;
  padding-top: 3.75rem;
  font-size: 1.5rem;
}
.content p {
  padding-top: 2rem;
  font-size: 1rem;
  line-height: 28px;
  margin-bottom: 0;
}
.content figure {
  padding: 4.375rem 0 0;
}
.content img {
  width: 100%;
  height: auto;
}
.info-block {
  padding-top: 2rem;
}
.info-block p,
.info-block span {
  font-family: "Avenir", sans-serif;
  font-size: 1.125rem;
  line-height: 28px;
  padding: 0;
  margin: 0;
}
.info-block span {
  font-weight: bold;
}

figure.video-part figcaption {
  font-family: "Avenir", sans-serif;
  font-size: 1.125rem;
  line-height: 28px;
  padding-bottom: 4.375rem;
}

.contact .info-block p {
  padding-bottom: 40px;
}
.contact .info-block a {
  text-decoration: underline;
}
.contact .info-block a:hover {
  text-decoration: none;
}
figure.contactFig {
  padding: 1.875rem 0 0;
}
/*Downloads*/
.tableWrap {
	font-family: 'Avenir', sans-serif;
	background: rgb(235,237,239);
	padding-top: 3.125rem;
	padding-bottom: 6.25rem;
}
.tableWrap h3 {
	font-size: 1.125rem;
	margin: 0 0 2.5rem;
}
.tableWrap table tr {
    border-bottom: 1px solid rgb(157,167,173);

}
.tableWrap table td {
	padding: 5px 0;
}
.tableWrap table td i {
	font-size: 14px;
	margin-right: 5px;
}
.tableWrap table td a {
	white-space: normal;
}
.c1 {
  width: 70%;
}
.c2 {
  width: 15%;
}
.c3 {
  width: 15%;
}

@media only screen and (min-width: 64.063em) {
  .content h1 {
    font-size: 1.875rem;
    line-height: 36px;
  }
  .content p {
    font-size: 1.125rem;
    line-height: 36px;
  }
}

/*Contact*/
form {
  padding: 0;
  margin: 0;
}
label {
  font-family: "Avenir", sans-serif;
  color: #a7a19a;
  cursor: pointer;
  display: block;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
.tnx-text{
  padding-top: 20px;  
  font-family: "Avenir", sans-serif;
  color: #a7a19a;
  font-size: 1.125rem;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  font-family: "Avenir", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #61564a;
  border-style: solid;
  border-width: 1px;
  border-color: #61564a;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  height: 2.05556rem;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0.44444rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btnSubmit,
.btnSubmit:visited {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #fff;
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  background: #799269;
  width: 100%;
  padding: 17px 0;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  line-height: 1.125rem;
  margin-top: 20px;
}

.btnSubmit:hover {
  color: #799269;
  text-decoration: none;
  background: #fff;
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}
.btnSubmit:hover i {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #bcc8b3;
}
.btnSubmit i {
  color: #bcc8b3;
  font-size: 1.125rem;
}

@media only screen and (min-width: 64.063em) {
  .btnSubmit {
    width: 260px;
  }
}

.contactForm {
  margin-top: 6.25rem;
}
.contactForm p {
  font-family: "Avenir", sans-serif;
  color: #a7a19a;
  font-size: 1rem;
  padding: 60px 0 20px;
}

.contactForm input.error {
  border: 1px dotted red;
}

.content.contact a {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #000;
}
.content.contact a:hover {
  border-bottom: 2px solid #fff;
}

/*Footer*/
footer {
  color: #c9d3c3;
  background: #799269;
  padding: 3.75rem 0.9375rem 2.5rem;
}
footer ul {
  width: 100%;
  margin: 0;
  list-style: none;
  padding-right: 0;
  padding-left: 0;
}
footer li {
  display: block;
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #c9d3c3;
  padding: 0;
  margin: 0;
  line-height: 1.75rem;
}
footer li.bold {
  font-weight: bold;
}
footer a.facebook {
  color: #c9d3c3;
  font-weight: 700;
}
footer li a {
  color: #c9d3c3 !important;
}
.flWrap {
  text-align: right;
}
.footerLogo {
  height: 22px;
  width: 99px;
}
.imgWrap {
  margin-top: 15px;
  margin-bottom: 60px;
}
.imgWrap img {
  width: 216px;
  height: 36px;
}
p.aboutWrap {
  max-width: 440px;
}
.imgWrap a {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 1;
}
.imgWrap a:hover {
  opacity: 0.4;
}
@media only screen and (min-width: 64.063em) {
  footer {
    padding: 3.75rem 1.5625rem;
  }
  footer ul {
    padding-right: 0;
    padding-left: 0;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Flex Video*/
.responsive-embed,
.flex-video {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 75%;
  overflow: hidden;
}
.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed,
.responsive-embed video,
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-embed.widescreen,
.flex-video.widescreen {
  padding-bottom: 56.25%;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.relative {
  position: relative;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group; /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*Responsive Menu custom css */
#bars-menu.hamburgerWhite i {
  color: #fff;
}
#menu {
  padding: 20px 30px;
  overflow-y: scroll;
}
#menu:not(.mm-menu) {
  display: none;
}

#menu:not(.mm-menu) {
  display: none;
}
#menu {
  background: #504436;
  border: 0;
  color: #a7a19a;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #a7a19a;
  font-weight: bold;
}
#menu .mm-listview > li > a {
  transition: all 0.3s ease 0s;
  padding-left: 0 !important;
}
#menu .mm-listview > li > a:hover {
  color: #fff;
}
#menu ul li.mm-main {
  color: #a7a19a;
}
#menu ul li.mm-main.last {
  padding-bottom: 1.25rem;
}
#menu ul li.mm-main a {
  padding: 0;
}
#menu .mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 0;
}
#menu .mm-panels > .mm-panel > .mm-listview:first-child,
#menu .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 0;
}
#menu .mm-title {
  color: #a7a19a;
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
#menu .mm-listview > li:not(.mm-divider):after {
  border-color: transparent;
}
#menu .mm-listview > li.mm-main:not(.mm-divider):after {
  border: 0;
}
#menu .mm-next:after {
  border-color: #a7a19a;
}
#menu .mm-btn:after,
#mobile-menu .mm-btn:before {
  border-color: #a7a19a;
}
#menu .mm-listview > li > a {
  padding: 7px;
}
#menu li.soc.first {
  padding-top: 1.5625rem;
}
#menu li.soc:after {
  border: 0;
}
#menu li.soc i.fa {
  margin-right: 0.375rem;
  font-size: 0.75rem;
  vertical-align: top;
  margin-top: 0.25rem;
}
#menu li.soc a {
  font-size: 0.9375rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
#menu .mm-navbar {
  border: 0;
}
#menu .mm-listview > li > a.close-mm {
  cursor: pointer;
  padding-bottom: 20px;
  padding-left: 0;
  font-size: 1rem;
}
#menu .mm-listview > li > a.close-mm i {
  font-weight: bold;
  font-size: 18px;
}
#menu .mm-listview > li.social-icons-mm {
  padding-top: 17px;
  color: #a7a19a;
}
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
  background: transparent !important;
  color: #fff;
}
#menu li.menu-lang {
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}
#menu li.menu-lang span {
  padding: 0;
}
#menu li.menu-lang span span,
#menu li.menu-lang span span a {
  color: #a7a19a;
}
#menu li.menu-lang span span a.selected {
  color: #fff;
}
.menuTA {
  font-size: 0.9375rem;
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  padding: 0 0 2px;
  margin: 0;
}
a.taOnMenu {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 1;
}
a.taOnMenu:hover {
  opacity: 0.3;
}

/*Booking Section*/
#bookingSection {
  background: #504436;
  margin: 10px 0;
  padding: 20px 0;
}
#contactFormSection {
  background: #504436;
  margin: 10px 0;
  padding: 20px 0;
}
#bookingSection .row {
  max-width: 865px;
  padding: 0 30px;
}
#contactFormSection .row {
  max-width: 865px;
  padding: 0 15px;
}

.booking,
.booking:visited {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #fff;
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  background: #61564a;
  width: 100%;
  padding: 17px 0;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  line-height: 1.125rem;
}

.booking:hover {
  color: #504436;
  text-decoration: none;
  background: #fff;
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}
.booking:hover i {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #504436;
}
.booking i {
  color: #a7a19b;
  font-size: 1.125rem;
}

@media only screen and (min-width: 64.063em) {
  #bookingSection {
    padding: 20px 40px;
  }
  #bookingSection.home .row {
    padding: 0;
  }

  .booking {
    width: 260px;
  }
}

.booking.onmenu {
  margin: 3.125rem 0;
}

.content.contact {
  margin-bottom: 6.25rem;
}

/* Cookie Bar */
.cookie-message {
  font-size: 1rem;
  font-family: "Avenir", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25rem 2.5rem;
  background: #000;
  color: #b2b2b2;
  z-index: 99;
}
.cookie-message a {
  text-decoration: underline;
  top: 1.25rem;
  right: 2.5rem;
  cursor: pointer;
  color: #b2b2b2;
}
.cookie-message a.my-close-button {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  cursor: pointer;
}
.cookie-message p,
.cookie-message a {
  color: #b2b2b2;
  font-size: 1rem;
  font-family: "Avenir", sans-serif;
  margin: 0;
}
