/**
 * @license
 * MyFonts Webfont Build ID 3367388, 2017-03-31T09:29:18-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirLT-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/55-roman/
 * Licensed pageviews: 250,000
 * 
 * Webfont: AvenirLT-Heavy by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/85-heavy/
 * Licensed pageviews: 500,000
 * 
 * Webfont: AvenirLT-Oblique by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/55-oblique/
 * Licensed pageviews: 500,000
 * 
 * Webfont: AvenirLT-HeavyOblique by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/85-heavy-oblique/
 * Licensed pageviews: 500,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3367388
 * Webfonts copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1981 - 2007 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be repro
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3361dc");

  
@font-face {font-family: 'Avenir';font-weight: normal;font-style: normal;src: url('webfonts/3361DC_0_0.eot');src: url('webfonts/3361DC_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3361DC_0_0.woff2') format('woff2'),url('webfonts/3361DC_0_0.woff') format('woff'),url('webfonts/3361DC_0_0.ttf') format('truetype'),url('webfonts/3361DC_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Avenir';font-weight: bold;font-style: normal;src: url('webfonts/3361DC_1_0.eot');src: url('webfonts/3361DC_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3361DC_1_0.woff2') format('woff2'),url('webfonts/3361DC_1_0.woff') format('woff'),url('webfonts/3361DC_1_0.ttf') format('truetype'),url('webfonts/3361DC_1_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Avenir';font-weight: normal;font-style: italic;src: url('webfonts/3361DC_2_0.eot');src: url('webfonts/3361DC_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3361DC_2_0.woff2') format('woff2'),url('webfonts/3361DC_2_0.woff') format('woff'),url('webfonts/3361DC_2_0.ttf') format('truetype'),url('webfonts/3361DC_2_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Avenir';font-weight: bold;font-style: italic;src: url('webfonts/3361DC_3_0.eot');src: url('webfonts/3361DC_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3361DC_3_0.woff2') format('woff2'),url('webfonts/3361DC_3_0.woff') format('woff'),url('webfonts/3361DC_3_0.ttf') format('truetype'),url('webfonts/3361DC_3_0.svg#wf') format('svg');}
 