        <header class="row expanded{if $pageType=='details'} headerWithSlider{/if}">
            <div class="clearfix"> <a href="{$siteLink}{$selLang}/" id="logoWrap"> <img src="{$siteLink}images/logo{if $pInfo.style=='white' and $pType!='horse'}White{/if}.svg" alt="Novole" id="logo"> </a> <a {if $pInfo.style=='white' and $pType!='horse'}class="hamburgerWhite"{/if} href="#menu" tabindex="0" id="bars-menu"><i class="fa fa-bars"></i> </a> </div>
        </header>