    <div id="header-slider" class="owl-carousel owl-theme">
{section name=panKey loop=$panInfo}
        <div class="item"><img class="owl-lazy" data-src="{$panInfo[panKey].bigimage}" alt=""></div>
{/section}
    </div>