{section name=phKey loop=$phInfo}
        <figure> <img src="{$phInfo[phKey].smallimage}" alt=""/> </figure>
        <section class="info-block">
            {$phInfo[phKey].title}
        </section>
{/section}