/* ------------------------------------------------------------------------------
*
*  # Custom css for Novole
*
*  Styles for custom css
*
*  Version: 1.0
*  Latest update: October 24, 2016
*
* ---------------------------------------------------------------------------- */
/*Search Wrapper on list page
------------------------------------------------*/

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*Logo CMSs*/
.navbar-brand {
	padding: 8px 20px;
}
.navbar-brand > img {
    margin-top: 0;
    height: 30px;
}

.service-serach-wrap {
	padding:20px 20px 0;
}

@media screen and (max-width: 768px) {
	.service-serach-wrap {
		input,select {margin-bottom:20px;}
	}
	.dataTables_length {
		display: block;
	}
}

.service-serach-wrap .select2-container {
  position: relative;
  z-index: 2;
  float: left;
  width: 100% !important;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}
@media (max-width: 991px) {
	.service-serach-wrap .select2-container {
		margin-bottom:15px;
	}
	
}
/* set elements width in cmsform 
-----------------------------------------------*/
@media (max-width: 767px) {
  form.cmsform .form-group,
  .ss-edit .form-group,
  .ss-edit .switch-group {
    width: 100%;
  }
  
  /*services-list*/
  table.services-list .border-double td:first-child {
  	white-space:normal !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  form.cmsform .form-group,
  .ss-edit .form-group,
  .ss-edit .switch-group {
    width: 425px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  form.cmsform .form-group,
  .ss-edit .form-group,
  .ss-edit .switch-group {
    width: 425px;
  }
}

@media (min-width: 1200px) {
  form.cmsform .form-group,
  .ss-edit .form-group,
  .ss-edit .switch-group {
    width: 625px;
  }
}

/*Remove Margins*/
.accounts-list .dropdown-menu .divider,
.levels-list .dropdown-menu .divider,
.rates-list .dropdown-menu .divider,
.emails-webapp-list .dropdown-menu .divider,
.terms-list .dropdown-menu .divider,
.access-settings-list .dropdown-menu .divider,
.admins-list .dropdown-menu .divider {
    margin: 0;
}

/**/
.noLnk:hover {
	cursor:move;
}

/*Add border on table footer*/
.datatable-footer {
    border-top: 1px solid #bbb !important;
}

/*Accounts*/
.accounts-serach-wrap {
	padding:0 20px;
}

form.preview-ad legend {
	margin-bottom:5px;
}
form.preview-ad .form-group {
	margin-bottom:5px;
}

/*VPN*/
table.vpn-accounts-detail {
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}

/*Dashboard*/
.panel-title {
	span.badge {
		position:relative;
		top:-8px;
		
	}
}
.dashboard-nav {
	span.badge {
		position:absolute;
		top:-3px;
		right:-8px;
	}
}

/* Dashboard #accounts*/
#vpn,
#party,
#ssetup,
#ssupload {
	display:none;
}

.vpn-account-tbl,
.account-tbl,
.party-tbl,
.storage-tbl {
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}

/*Service detailed*/
.table-storage,
.table-trash,
.table-usage,
.table-storage-log,
.table-watcher-log,
.table-party {
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}

.table-watcher-log tr.child .dtr-title {padding-right:0;}
.table-watcher-log tr.child .dtr-data {white-space:normal;}

/**/
.dtr-data {white-space:normal;}

/*.table-party {
    border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}*/

/*No Wrap*/
.no-wrap{
	white-space:nowrap;
}
/*Margines & Paddings*/
.m-b-table {
	margin-bottom:80px;
}
.m-r-4 {
	margin-right:4px;
}
.m-b-20 {
	margin-bottom:20px;
}
.p-r-10 {
    padding-right: 10px;
}

/*Dropdown in datatables*/
.datatable-scroll-wrap { /*zika hack*/
	overflow:visible;
}
/* Agreement Page*/
tr.border-double td::before {
	content:"" !important;
	display:none !important;
}
table.scrd td,
table.ssrd td {white-space:normal !important;}

/*Aside Tables*/
table.agreement-det span.dtr-title,
table.aside-det-1 span.dtr-title,
table.aside-det-2 span.dtr-title,
table.aside-det-3 span.dtr-title,
table.aside-det-4 span.dtr-title,
table.aside-det-5 span.dtr-title {display:none !important;}
table.agreement-det span.dtr-data,
table.aside-det-1 span.dtr-data,
table.aside-det-2 span.dtr-data,
table.aside-det-3 span.dtr-data,
table.aside-det-4 span.dtr-data,
table.aside-det-5 span.dtr-data {white-space: normal !important;}
table.agreement-det > thead > tr > th,
table.aside-det-1 > thead > tr > th,
table.aside-det-2 > thead > tr > th,
table.aside-det-3 > thead > tr > th,
table.aside-det-4 > thead > tr > th,
table.aside-det-5 > thead > tr > th {
    border-bottom: 0 !important;
	padding:0;
	height:1px;
}

#vpn_back,
#vpn_add_new_doc {text-align:right;}

/*Novole*/
* {outline:none;}

.showdates-list,
.filters-list,
.photos-list,
.logo-list,
.sponsor-list,
.panoramic-list,
.documents-list {
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}
.showdates-list thead th,
.photos-list thead th,
.logo-list thead th,
.sponsor-list thead th,
.panoramic-list thead th,
.documents-list thead th { border-top:1px solid #bbb !important;}
/*.remove-hdr {padding:10px 20px 10px;}*/
.showdates-list tfoot th,
.f-list tfoot th,
.photos-list tfoot th,
.logo-list tfoot th,
.sponsor-list tfoot th,
.panoramic-list tfoot th,
.documents-list tfoot th,
.cat-filter-list tfoot th,
.movies-list tfoot th {
	padding:0 !important;
}
.f-list .table > thead > tr > th,
.showdates-list .table > thead > tr > th {padding:0;}

.cat-filter-list > tfoot > tr > th,
.movies-list > tfoot > tr > th {border-top:0;}

.f-list > div {margin-top:20px !important;}

.toolongvaluescroll {
    overflow: auto;
    white-space:nowrap;
}


/*.cat-filter-list {margin-bottom:150px;}*/
/*sweet alert*/
.sweet-alert button.cancel {
	background:#eee;
}

.table .dragula-handle {cursor:move;}

.dragAndDrop {padding-left:0 !important; padding-right:0 !important; text-align:center !important;}

.toolbar {float: left;}
.toolbar {
  padding: 0 0 0 20px;  
}
.toolbar form {display:inline-block;
}
.toolbar [type="button"] {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right:none;
}
.toolbar button.btn-default[type="submit"] {
  margin: 0;  
  border-bottom-left-radius:0;
  border-top-left-radius:0; 
}


.toolbar .multi-select-full {min-width:280px;}
@media (max-width: 768px) {
  .toolbar {
	float:none;
    text-align: center !important;
	padding:0;
	margin:0 auto;
	
	.form-group {text-align:center;}
  }
}

/*Topbar Avatar*/
.navbar-nav > .dropdown-user div.avatar {
    height: 30px;
	width: 30px;
    margin-top: -2.5px;
    border-radius: 50%;
	background:#F4C712;
	line-height:30px;
	text-align:center;
	display:inline-block;
	color:#fff;
}
.movies-list div.avatar {
	height: 70px;
	width: 70px;
    border-radius: 50%;
	background:#F4C712;
	line-height:70px;
	text-align:center;
	display:inline-block;
	color:#fff;
	font-size:18px;
}



/*
.toolbar:after {
  content: "";
  display: table;
  clear: both;
}
.toolbar > div:first-child {
  margin-left: 0;
}
.panel-body .toolbar {
  padding-left: 0;
  padding-right: 0;
}
.toolbar {
  border-bottom: 1px solid #ddd;
}
.panel-flat > .panel-heading + .dataTables_wrapper > .toolbar {
  padding-top: 0;
}
@media (max-width: 768px) {
  .toolbar {
    text-align: center;
  }
}*/
/*Remove Arrow*/
.page-title i.icon-arrow-left52 { display:none !important;}
.navigation > li > ul li.active > a, .navigation > li > ul li.active > a:hover, .navigation > li > ul li.active > a:focus {
    background-color: rgba(255,255,255,0.15);
    color: #fff;
}
.navigation li a:hover,
.navigation li a:focus {
  background-color: rgba(255,255,255,0.07);
  color: #fff;
}